@{
    ViewBag.Title = "Contact";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>Contact</strong></h5>
    </div>
    <div class="panel-body">
        <address>
            <strong>Email:</strong>   <a href="mailto:Support@example.com">thazin31086@gmail.com</a><br />
        </address>
    </div>
</div>
