@{
    ViewBag.Title = "About";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><strong>About me</strong></h5>
    </div>
    <div class="panel-body">
        <p>
            Hello all, I am Jasmine, working as an IT Consultant since 2010.<br />
            I specialize in Microsoft Technologies such as MVC and ASP.NET.<br />
            Currently, I am living in Sydney, Australia.
        </p>
    </div>
</div>