@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>MVC, Angular.js and Entity Framework</h3>
        <p>
            Last few weeks, I've been learning how to build a web site using MVC with Angular.js from <a href="https://www.pluralsight.com/">Pluralsight.com.</a>  <br/>
            I have been sailing really well as I would like to share what I have learned so far to everyone who have interested on these technologies. <br/>
            First, I started with some beginner level MVC and Angular.js videoes to understand the basic functionalities. The videos which I would like to recommend are as below
            <ul>
                <li>
                    <a href="https://app.pluralsight.com/library/courses/mvc-angular-journey/table-of-contents">The Journey from MVC to Angular by Paul D. Sheriff</a>
                </li>
                <li>
                    <a href="https://app.pluralsight.com/library/courses/mvc-angular-journey/table-of-contents">AngularJS Forms Using Bootstrap and MVC 5 by Mark Zamoyta</a>                    
                </li>
                <li>
                    <a href="https://app.pluralsight.com/library/courses/mvc-angular-journey/table-of-contents">Introduction to ASP.NET MVC 3,by Scott Allen</a>
                </li>
            </ul>
      
            <i>Many Thank to Paul D. Sheriff, I created my tutorial project based on Paul's MVC project.</i> 
        </p>
        <p><a class="btn btn-default" href="https://github.com/thazin31086/Projects/tree/master/MVC/Angular.MVC/Angular.MVC">Download Tutorials</a></p>
    </div>
</div>