body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-inverse {
    background-color: #009688;
    border-color: #30b2a6;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover {
       transform: translateY(-2px);      
       border-bottom: 1px #ffffff dashed;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border-left: 1px solid #009688;
    border-left-width: 5px;
    border-radius: 3px;
    webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border-bottom: 5px solid rgba(119,119,119,0.5);
    -webkit-box-shadow: 0 2px 2px 0 rgba(119,119,119,0.5);
    -moz-box-shadow: 0 2px 2px 0 rgba(119,119,119,0.5);
    box-shadow: 0 2px 2px 0 rgba(119,119,119,0.5);
    display: block;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px 15px;
    
}

    .bs-callout:hover {
        transform: translateY(-10px);
        /*border-bottom: #808080;*/
    }

.btn-default {
    color: #ffffff;
    background-color: #009688;
    border-color: #30b2a6;
}

.author {
    color: #009688;    
}


.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.left {
  background-image: none;

}

.carousel-control.right {
  background-image: none;
}

    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        color:#009688;
    }